/* Banners Index Start */
.bannerImg {
  height: 80px;
  width: 80px;
  border-radius: 100px;
}

.brandsTable thead tr td th tbody {
  border: 1px solid black;
}

.brandsTable {
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid black;
}


.brandsTable tr {
  border: 1px solid black;
}

.brandsTable tr th {
  border: 1px solid black;
}

.brandsTable tr td {
  border: 1px solid black;
}

.productImg {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.card-img-top {
  height: 350px;
  /* width: 350px; */
  width: 100%;
  border-radius: 20px;
}

/* Banners Index End */